.about-title {
  h5 {
    background-color: $color-principal-200;
    display: inline-block;
    position: relative;
    left: 1rem;
    top: -11rem;
    margin: 3px;
  }
}
.section-left {
  padding-bottom: 22rem;
  text-align: center;
  .img-about {
    @include hero-img;
    border-radius: 0px;
    border: solid white 5px;
    border-radius: 40px 15px 15px 15px;
    left: 17%;
  }
  .about-title {
    color: $color-white-0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    h5 {
      padding: 0.2rem 0.5rem;
    }
  }
}
.section-right {
  margin-top: 5rem;
  padding: 1.5rem;
  h5 {
    width: 50%;
    margin-bottom: 1rem;
  }
}
.section-Left-2 {
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  width: 90%;
  margin: 5%;
  background-color: $color-secondary-400;
  border-radius: 40px 15px 40px 15px;
  h5 {
    color: $color-black-100;
    margin-bottom: 1.5rem;
  }
}

.section-right-2 {
  text-align: center;
  .imgabout2 {
    position: relative;
    top: -6rem;
    width: 19rem;
    height: 19rem;
  }
}
.section4 {
  text-align: center;
  width: 90%;
  margin:2rem 5%;
  color: #5f6f52;
  background-color: $color-secondary-400;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 4rem 1rem;

  &-social {
    background-color: $color-white-0;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
}

.about_section-footer {
  @include circle-father;
  top: -7rem;
  height: 250px;
  margin-bottom: -9rem;
  display: flex;
  align-items: center;

  .circle {
    @include circle;
    right: -70%;
  }

  .img {
    @include circle-img;
    background-image: url("./assets/img/circle_about.svg");
    right: -15%;
    top: -10%;
    width: 12.3rem;
    height: 16.3rem;
  }
}

.row-3 {
  flex-direction: column-reverse;
  top: -2rem;
  position: relative;

  .section-right-3 {
    // margin-top: 2 rem;
    padding: 0rem 2rem ;
   h5 { width: 60%;
    margin-bottom: 1.5rem;
    color: $color-principal-200;
  }
}

  .background-rectangule {
    background-color: $color-secondary-400;
    
  }

  .section-Left-3 {
    text-align: center;
  }
  img {
    width: 20rem;
  }
}
