.show {
  .modal-dialog {
    top: 10%;
  }
}

#modal {


  .img-logo-mobile2 {
    display: none;
  }
  .modal-content {
    border-radius: 32px 8px 32px 8px;

  }
  .modal-col-left {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-logo-mobile {
      position: absolute;
      padding: 5px;
      top: 0px;
      width: 120px;
    }
    img {
      width: 210px;
    }
  }

  .modal-col-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-logo {
      margin: 0 auto;
      padding-top: 20px;
      width: 150px;
    }
    p {
      padding: 0rem 1.5rem;
      text-align: center;
      b {
        background-color: $color-principal-200;
      }
    }
  }

  .suscribe-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    width: 80%;
    .form-email {
      border: 1px solid $color-grey-0;
      border-radius: 8px;
      resize: none;
      padding: 0.5rem;
      width: 100%;
    }
    .form-email:focus {
      outline: none;
      border: 1px solid $color-principal-100;
    }
    input {
      width: 100%;
    }
    .suscribe-button-modal {
      background-color: $color-principal-200;
      color: $color-white-0;
      font-weight: 400;
      font-size: 16px;
      padding: 0.4rem 2rem;
      border: 1px solid $color-principal-200;
      border-radius: 0.5rem;
      box-shadow: 1px 2px 6px $color-principal-100;
    }
  }
}
@media (min-width: 767px) {
  .show {
    .modal-dialog {
      top: 0%;
    }
  }
  #modal {
    margin: 0 auto;
    margin-top: 8rem;

    .img-logo-mobile {
      display: none;
      &2 {
        display: initial;
      }
    }
    .modal-content {
      padding: 2rem !important;
      width: 600px;
      top: 4rem;
    }
  }
}
.modal-col-left {
  justify-content: center;
  img {
    padding-left: 1rem;
    width: 195px;
  }
}

.modal-col-right {
  justify-content: center;
}
