.products_list {

h4 {
  align-self: start;
  margin-left: 1rem;
}
.card_carousel {
  width: 85%;
  border-radius: 32px 8px;
  border: none;
  // filter: drop-shadow(0px 2px 7px #00000025);

  .carousel-indicators {
    bottom: -20%;
    button {
     padding: 0;
    }
  }

  img {
    border-radius: 32px 8px 0px 0px;
    max-height: 550px;
  }
  .carousel {
    height: auto;
  }

  .carousel-inner {
    padding-top: 0;
  }

  button {
    background-color: $color-principal-200;
    border: none;
    color: $color-white-0;
    padding: 0.4rem 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 7px $color-principal-100;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  .wsp-button {
    text-decoration: none;
  }

  .carousel-control-prev-icon {
    display: none;
    background-image: url("./assets/icon/prev-icon.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
  }

  .carousel-control-next-icon {
    display: none;
    background-image: url("./assets/icon/next-icon.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
  }

  .card-body {
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;

    ul {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1rem;
    }
  }
}


}