.contact_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/hero-contact.svg");
  }

  &-title {
    @include hero-title;
  }

  &-redes {
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-grey-0;
    font-size: 1rem;
    color: $color-black-200;
  }

  &-description {
    padding-top: 2rem;
    h6 {
      font-size: 1.1rem;
      font-weight: 500;
    }

    span {
      font-size: 1rem;
      font-weight: 400;
      padding-bottom: 2rem;
    }
  }
}

.contact_section-footer {
  @include circle-father;
  top: -5rem;
  margin-bottom: -14rem;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/img/vela.svg");
    right: -5px;
    bottom: -20px;
  }
}

@media (min-width: 768px) {
  .contact_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.9fr 0.5fr 0.5fr 0.8fr;
      grid-template-areas:
        "hero hero"
        "redes form"
        "deco form"
        "sus sus";
    }
    &-hero {
      grid-area: hero;
      padding-bottom: 0rem;
    }

    &-title {
      border-bottom: 1px solid $color-black-100;
      width: 100%;
    }

    &-redes {
      border: none;
      grid-area: redes;
    }

    &-description {
      margin-top: -14rem;
      grid-area: form;
    }

    &-suscribe {
      grid-area: sus;
    }
  }

  .contact_section-footer {
    .circle {
      @include circle;
      right: 8%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .contact_section-footer {
    .circle {
      @include circle;
      right: 14%;
    }
  }
}

@media (min-width: 1200px) {
  .contact_section {
    &-grid {
      grid-template-rows: 1.7fr 0.5fr 1fr 0.8fr;
    }

    &-description {
      margin-top: -22rem;
    }

    &-background {
      @include background;
    }
    &-background::before {
      @include background-icon;
    }

    .contact_decoration {
      grid-area: deco;
      position: relative;
      display: flex;
      justify-content: end;
      padding-right: 7rem;

      &-img {
        //position: absolute;
        background-image: url("./assets/img/deco-contact.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 15rem;
        height: 18rem;
        right: 0;
      }

      &-img::before {
        content: "";
        position: absolute;
        background-image: url("./assets/img/hero-icon.svg");
        width: 10rem;
        height: 18rem;
        rotate: (-29deg);
        right: 275px;
        bottom: 50px;
        z-index: -1;
      }

      &-img::after {
        content: "";
        position: absolute;
        background-image: url("./assets/img/hero-icon.svg");
        width: 10rem;
        height: 18rem;
        rotate: (150deg);
        right: 75px;
        bottom: -55px;
        z-index: -1;
      }

      &-rectangletop {
        position: absolute;
        background-color: #f6ede6;
        width: 12rem;
        height: 11rem;
        border-radius: 62px 0 62px 0;
        z-index: -2;
        right: 125px;
        bottom: 115px;
        mix-blend-mode: multiply;
      }

      &-rectanglebot {
        position: absolute;
        background-color: #f6ede6;
        width: 9.6rem;
        height: 9.6rem;
        border-radius: 62px 0 62px 0;
        z-index: -3;
        right: 230px;
        bottom: 45px;
      }
    }
  }
  .contact_section-footer {
    .circle {
      @include circle;
      right: 16%;
    }
  }
}

@media (min-width: 1400px) {
  .contact_section-footer {
    .circle {
      @include circle;
      right: 20%;
    }
  }
}
