.contact_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/hero-contact.svg");
  }

  &-title {
    @include hero-title;
  }

  &-redes {
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-grey-0;
    font-size: 1rem;
    color: $color-black-200;
  }

  &-description {
    padding: 2rem 2rem 1rem 2rem;
    h6 {
      font-size: 18px;
      font-weight: 500;
    }

    span {
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 2rem;
    }
  }
}

.contact_section-footer {
  @include circle-father;
  top: -5rem;
  margin-bottom: -14rem;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/contact.png");
    right: -30px;
    bottom: -40px;
    width: 120%;
    height: 120%;
  }
}

@media (min-width: 768px) {
  .contact_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.8fr 0.5fr 0.5fr 0.8fr;
      grid-template-areas:
        "hero hero"
        "redes form"
        "deco form"
        "sus sus";
    }
    &-hero {
      grid-area: hero;
      padding-bottom: 0rem;
    }

    &-title {
      border-bottom: 1px solid $color-black-100;
      width: 100%;
    }

    &-redes {
      border: none;
      grid-area: redes;
    }

    &-description {
      margin-top: -14rem;
      padding-right: 8rem;
      grid-area: form;
    }

    &-suscribe {
      grid-area: sus;
    }
  }

  .contact_section-footer {
    .circle {
      right: 10%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .contact_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1200px) {
  .contact_section {
    &-grid {
      grid-template-rows: 1.3fr 0.5fr 1fr 0.8fr;
    }

    &-description {
      margin-top: -22rem;
    }

    &-background {
      @include background;
    }
    &-background::before {
      @include background-icon;
    }

    .contact_decoration {
      @include deco;
      align-items: center;
    }
  }
  .contact_section-footer {
    .circle {
      @include circle;
      right: 22%;
    }
  }
}

@media (min-width: 1400px) {
  .contact_section-footer {
    .circle {
      right: 22%;
    }
  }
  .contact_section {
    &-grid {
      grid-template-rows: 1.6fr 0.5fr 1fr 0.8fr;
    }

    &-description {
      margin-top: -32rem;
    }
  }
}

@media (min-width: 1600px) {
  .contact_section {
    &-redes {
      margin-top: -8rem;
    }
  }
  .contact_section-footer {
    .circle {
      right: 30%;
    }
  }
}
