
.doubts {
    width: 100%;
    height: 40vh;

}
.row-top {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.row-top h5 {
    color: $color-secondary-100;
    width: 100%;
}
.row-bottom {
    text-align: center;
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: center;
}


.background-doubts {
    margin:1rem;
    border-radius: 40px 10px 10px 10px;
    background-color: $color-cream-100;
}

.social-doubts > img {
    margin:0rem 0.5rem;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.1);
}

@media (min-width:767px) {


    .doubts {
       margin: 0 auto;
        width: 50%;
        height: 50vh;
    }
    .row-top > h5 {
        width: 50%;
        text-align: center;
    }
    .row-bottom {
        padding: 1rem 1rem;
    }
    .row-bottom > p {
        padding-bottom: 2rem;
        width: 60%;
        margin: 0 auto;
    }
    .social-doubts > img {
        margin: 0rem 1rem;
    }
}