.doubts {
  width: 100%;
  height: 40vh;
  text-align: center;
  p {

    padding-bottom: 1rem;
    margin: 0 auto;
    width: 60%;
  }
  @media (max-width: 785px) {
    p {
      width: 80%;
  }
}
@media (max-width: 430) {
  p {
    width: 100%;
}
}
}
.row-top {
  display: flex;
  height: 40%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.row-top h5 {
  color: $color-secondary-100;
  width: 90%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.4rem;
}
.row-bottom {
  text-align: center;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
}

.background-doubts {
  margin: 1rem;
  border-radius: 40px 10px 10px 10px;
  background-color: $color-cream-100;
}

.social-doubts {
  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 10;
    box-shadow: 1px 1px 6px rgba(142, 142, 142, 0.2509803922);
    background-color: white;
    border-radius: 5px;
    margin-left: 1rem;

    img {
      margin: 0.4rem 0.4rem;
    }
  }
}

// @media (min-width: 768px) {
//   .doubts {
//     margin: 0 auto;
//     width: 50%;
//     height: 50vh;
//   }
//   .row-top > h5 {
//     width: 50%;
//     text-align: center;
//   }
//   .row-bottom {
//     padding: 1rem 1rem;
//   }
//   .row-bottom > p {
//     padding-bottom: 2rem;
//     width: 60%;
//     margin: 0 auto;
//   }
//   .social-doubts > img {
//     margin: 0rem 1rem;
//   }
// }
