.faq_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/hero-faq.svg");
  }

  &-title {
    @include hero-title;
  }

  &-accordion {
    padding: 1.5rem;

    .body2 {
      font-weight: 600;
      font-size: 1.1rem;
      padding-bottom: 2rem;
    }

    .accordion-item {
      border: 1px solid $color-gray-100;
      margin-bottom: 1rem;
    }

    .accordion-header {
      border-top: 1px solid $color-gray-100;
    }
    .accordion-button:not(.collapsed) {
      color: $color-black-200;
      background-color: white;
      border-radius: 0.5rem;
    }
  }
}

.faq_section-footer {
  @include circle-father;
  top: -5rem;
  margin-bottom: -12rem;
  height: 300px;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/faq.png");
    right: -31px;
    bottom: -53px;
    width: 125%;
    height: 125%;
  }
}

@media (min-width: 768px) {
  .faq_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.1fr 0.1fr 0.6fr;
      grid-template-areas:
        "hero hero"
        "deco accordion"
        "doubts doubts";
    }
    &-title {
      border-bottom: 1px solid $color-black-100;
      width: 100%;
    }

    &-hero {
      grid-area: hero;
    }

    &-accordion {
      grid-area: accordion;
      margin-top: -19rem;
    }

    &-doubts {
      grid-area: doubts;
      // margin-top:-5%;
    }
  }

  .faq_section-footer {
    .circle {
      right: 10%;
    }
  }
}

@media (min-width: 992px) {
  .faq_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1200px) {
  .faq_section {
    &-grid {
      grid-template-rows: 2fr 1.4fr 0.6fr;
    }

    &-accordion {
      grid-area: accordion;
      margin-top: -22rem;
    }

    &-background {
      @include background;
    }
    &-background::before {
      @include background-icon;
    }

    .faq_decoration {
      @include deco;
      align-items: center;

      &-img {
        background-image: url("./assets/img/deco-faq.svg");
        width: 13.4rem;
        height: 10.6rem;
      }

      &-img::before {
        rotate: (-29deg);
        right: 230px;
        bottom: 100px;
      }

      &-img::after {
        rotate: (50deg);
        right: 70px;
        bottom: 180px;
      }

      &-rectangletop {
        right: 100px;
        bottom: 150px;
      }

      &-rectanglebot {
        right: 210px;
        bottom: 80px;
      }
    }
  }
  .faq_section-footer {
    .circle {
      @include circle;
      right: 22%;
    }
  }
}

@media (min-width: 1400px) {
  .faq_section-footer {
    .circle {
      @include circle;
      right: 22%;
    }
  }
}

@media (min-width: 1600px) {
  .faq_section-footer {
    .circle {
      @include circle;
      right: 25%;
    }
  }
}
