.faq_section {
  &-img {
    @include hero-img;
    background-image: url("./assets/img/faqimg.svg");
  }

  &-title {
    @include hero-title;
  }

  &-hero {
    padding-bottom: 25rem;
  }
}
.col-right {
  padding: 1.5rem;

  .accordion-item {
    border: 1px solid $color-gray-100;
    margin-bottom: 1rem;
  }

  .accordion-header {
    border-top: 1px solid $color-gray-100;
  }
  .accordion-button:not(.collapsed) {
    color: $color-black-200;
    background-color: white;
    border-radius: 0.5rem;
  }
}
.faq_section-footer {
  @include circle-father;
  top: -15px;
  height: 200px;
  margin-bottom: -11rem;

  .circle {
    @include circle;
    right: -70%;
    top: 0%;
  }

  .img {
    @include circle-img;
    background-image: url("./assets/img/circlepaymentimg2.svg");
    right: -7%;
    top: 17%;
  }
}
