.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  .wpp-button {
    display: none;
  }

  section {
    align-items: center;
    margin-bottom: 1rem;
  }
  b {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
  }
}

.info-icons-container {
  // border-top: 2px solid $color-black-100;
  width: 100%;
  padding: 1rem;
}

.info-icons {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: space-around;

  li {
    display: flex;
    width: 95px;
    height: 95px;
    border-radius: 10%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: $color-black-100;
  }
}

.home_section-footer {
  @include circle-father;
  top: -7rem;
  margin-bottom: -19rem;
  height: 300px;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/img/circle_home.svg");
    right: -5px;
    bottom: -20px;
    height: 223px;
  }
}
