.info-icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
