@mixin hero-img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  //background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 7.5rem;
  filter: drop-shadow(2px 2px 11px $color-hero-shadow);
}

@mixin hero-title {
  position: absolute;
  top: 18.6rem;
  left: 8.37rem;
  font-size: 2rem;
  font-weight: 500;
  color: $color-principal-200;
  padding: 1rem;
  background-color: $color-white-0;
  border-radius: 2rem 0 0 0;
}

@mixin circle-father {
  // use: set position top, set height more than the circle and img,
  //      set margin bottom to bring the footer (ej: margin-bottom:-5rem)
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
}

@mixin circle {
  background-color: $color-principal-100;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}

@mixin circle-img {
  // use .circle::before, set img url position
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
