@mixin hero-father {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}

@mixin hero-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px $color-hero-shadow);

  @media (min-width: 1200px) {
    width: 19.3rem;
    height: 26.9rem;

    filter: drop-shadow(2px 2px 21px $color-hero-shadow);
  }
}

@mixin hero-title {
  position: absolute;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  color: $color-principal-200;
  padding: 0.5rem;
  padding-left: 3rem;
  background-color: $color-white-0;
  border-radius: 2rem 0 0 0;
  top: 240px;

  @media (min-width: 768px) {
    top: 100px;
    left: 150px;
  }

  @media (min-width: 1200px) {
    top: 150px;
    left: 280px;
  }
}

@mixin background {
  position: absolute;
  top: 2rem;
  border-radius: 204px 204px 8px 8px;
  z-index: -1;
  background-color: #f6ede6;
  width: 25rem;
  height: 32.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-icon {
  // use: set background::before
  content: "";
  background-image: url("./assets/img/hero-icon.svg");
  position: absolute;
  width: 9.3rem;
  height: 17.1rem;
  z-index: -1;
  left: -75px;
  bottom: 50px;
}

@mixin circle-father {
  // use: set position top, set height more than the circle and img,
  //      set margin bottom to bring the footer (ej: margin-bottom:-5rem)
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
}

@mixin circle {
  background-color: $color-principal-100;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}

@mixin circle-img {
  // use .circle::before, set img url position
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@mixin deco {
  grid-area: deco;
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 7rem;

  &-img {
    background-image: url("./assets/img/deco-contact.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15rem;
    height: 18rem;
    right: 0;
  }

  &-img::before {
    content: "";
    position: absolute;
    background-image: url("./assets/img/hero-icon.svg");
    width: 10rem;
    height: 18rem;
    rotate: (-29deg);
    right: 275px;
    bottom: 50px;
    z-index: -1;
  }

  &-img::after {
    content: "";
    position: absolute;
    background-image: url("./assets/img/hero-icon.svg");
    width: 10rem;
    height: 18rem;
    rotate: (150deg);
    right: 75px;
    bottom: -55px;
    z-index: -1;
  }

  &-rectangletop {
    position: absolute;
    background-color: #f6ede6;
    width: 12rem;
    height: 11rem;
    border-radius: 62px 0 62px 0;
    z-index: -2;
    right: 125px;
    bottom: 115px;
    mix-blend-mode: multiply;
  }

  &-rectanglebot {
    position: absolute;
    background-color: #f6ede6;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 62px 0 62px 0;
    z-index: -3;
    right: 230px;
    bottom: 45px;
  }
}
