#navbar {
  background-color: $color-principal-100;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.4s ease-in;

  .container {
    .menu-toggle {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &-icon {
      width: 1.5rem;
      background-image: url("./assets/icon/navbarToggle.svg");
    }
  }

  .navbar-brand {
    background-image: url("./assets/icon/logo-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6rem;
    height: 2rem;
  }
}

#offcanvasNavbar-expand-md {
  margin-top: 3.4rem;
  width: 70%;
  background-color: $color-white-0;
}

#basic-nav-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  &-menu {
    background-color: $color-white-0;
    border: none;
  }

  &-item {
    color: $color-black-100;
    font-weight: 300;
  }
}

.offcanvas-body {
  padding-top: 0;

  .nav-link {
    border-bottom: thin solid $color-grey-0;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  #navbar {
    background: linear-gradient(180deg, #a9b388 26.35%, #7f8c54 100%);
    height: 9rem;
    border-radius: 0px 0px 62px 0px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menu-toggle {
        display: flex;
        justify-content: center;
      }
    }

    #offcanvasNavbar-expand-md {
      margin-top: 0;
    }
  }

  .offcanvas-body {
    padding-top: 0;
    width: 100%;

    .nav-link {
      border-bottom: none;
      font-weight: 300;
      color: $color-white-0;
    }
  }
}
