.payment_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/hero-payment.svg");
  }

  &-title {
    @include hero-title;
  }

  .payment_content {
    &-title,
    &-subtitle {
      font-weight: 500;
      font-size: 1.1rem;
    }

    &-description {
      font-weight: 400;
    }
  }
}

.payment_section-footer {
  @include circle-father;
  top: -10rem;
  margin-bottom: -18rem;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/payment.png");
    right: -40px;
    bottom: -40px;
    width: 130%;
    height: 130%;
  }
}

@media (min-width: 768px) {
  .payment_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 0.8fr;
      grid-template-areas:
        "hero hero"
        "deco cont"
        "doubts doubts";
    }
    &-hero {
      grid-area: hero;
    }

    &-title {
      border-bottom: 1px solid $color-black-100;
      width: 100%;
    }

    &-content {
      grid-area: cont;
      margin-top: -19rem;
    }

    &-doubts {
      grid-area: doubts;
    }
  }

  .payment_section-footer {
    .circle {
      @include circle;
      right: 8%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .payment_section-footer {
    .circle {
      @include circle;
      right: 22%;
    }
  }
}

@media (min-width: 1200px) {
  .payment_section {
    &-grid {
      grid-template-rows: 1.3fr 0.5fr 0.8fr;
    }

    &-content {
      margin-top: -17rem;
    }

    &-background {
      @include background;
    }
    &-background::before {
      @include background-icon;
    }

    .payment_decoration {
      @include deco;
      align-items: center;

      &-img {
        background-image: url("./assets/img/deco-payment.svg");
      }

      &-img::before {
        rotate: (-29deg);
        right: 295px;
        bottom: 115px;
      }

      &-img::after {
        display: none;
      }

      &-rectangletop {
        right: 150px;
        bottom: 150px;
      }

      &-rectanglebot {
        right: 270px;
        bottom: 100px;
      }
    }
  }
  .payment_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1400px) {
  .payment_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1600px) {
  .payment_section-footer {
    .circle {
      right: 30%;
    }
  }
}
