.payment_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/paymentimg1.svg");
  }

  &-title {
    @include hero-title;
  }
}

.payment_section-footer {
  @include circle-father;
  top: -5rem;
  margin-bottom: -14rem;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/img/circlepaymentimg.svg");
    right: 5px;
    bottom: -20px;
  }
}

@media (min-width: 768px) {
  .payment_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.4fr 0.5fr;
      grid-template-areas:
        "hero hero"
        "x cont"
        "doubts doubts";
    }
    &-hero {
      grid-area: hero;
      padding-bottom: 0rem;
    }

    &-title {
      top: 100px;
      padding: 0.5rem;
      border-bottom: 1px solid $color-black-100;
      width: 100%;
      left: 150px;
    }

    &-content {
      margin-top: -35rem;
      grid-area: cont;
    }

    &-doubts {
      grid-area: doubts;
    }
  }

  .payment_section-footer {
    .circle {
      @include circle;
      right: 8%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .payment_section-footer {
    .circle {
      @include circle;
      right: 14%;
    }
  }
}

@media (min-width: 1200px) {
  .payment_section-footer {
    .circle {
      @include circle;
      right: 16%;
    }
  }
}

@media (min-width: 1400px) {
  .payment_section-footer {
    .circle {
      @include circle;
      right: 20%;
    }
  }
}
