.products {
  h1 {
    font-size: 1rem;
    font-weight: 400;
  }

  b {
    font-weight: 500;
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
