
.suscribe-container .suscribe-form {
  width: 80%;
  z-index: 10;
}
.products {
  b {
    font-weight: 500;
  }
  

  
  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .carousel-indicators {
      button {
        background-color: #bdbdbd !important;
        border: none !important;
        border-radius: 50% !important;
        width: 12px !important;
        height: 12px !important;
      }

      .active {
        background-color: #c4661f !important;
      }
    }
  }

  button {
    background-color: $color-principal-200;
    border: none;
    color: $color-white-0;
    padding: 0.4rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 7px $color-principal-100;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  .wsp-button {
    text-decoration: none;
  }

  button:hover {
    background-color: $color-principal-300;
  }
  button:focus {
    color: $color-white-0;
    background-color: $color-principal-400;
  }

  button:active {
    color: $color-white-0;
    background-color: $color-principal-400;
  }
}

.products_section-footer {
  @include circle-father;
  top: -7rem;
  margin-bottom: -18rem;
  height: 300px;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/products.png");
    right: -47px;
    bottom: -45px;
    height: 130%;
    width: 130%;
  }
}
@media (min-width: 420px) {
  .products_section-footer {
    .circle {
      right: 1%;
    }
  }
}

@media (min-width: 768px) {
  .products_section-footer {
    .circle {
      right: 13%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .products_section-footer {
    .circle {
      right: 20%;
    }
  }
}

@media (min-width: 1200px) {
  .products_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1400px) {
  .products_section-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1600px) {
  .products_section-footer {
    .circle {
      right: 27%;
    }
  }
}
