.products {
  b {
    font-weight: 500;
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .carousel-indicators {
      button {
        background-color: #bdbdbd !important;
        border: none !important;
        border-radius: 50% !important;
        width: 12px !important;
        height: 12px !important;
      }

      .active {
        background-color: #c4661f !important;
      }
    }
  }
}

.products_section-footer {
  @include circle-father;
  top: -7rem;
  margin-bottom: -18rem;
  height: 300px;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/products.png");
    right: -47px;
    bottom: -45px;
    height: 130%;
    width: 130%;
  }
}

@media (min-width: 768px) {
  .products_section-footer {
    .circle {
      right: 2%;
      top: 0rem;
    }
  }
}

@media (min-width: 992px) {
  .products_section-footer {
    .circle {
      right: 2%;
    }
  }
}

@media (min-width: 1200px) {
  .products_section-footer {
    .circle {
      right: 2%;
    }
  }
}

@media (min-width: 1400px) {
  .products_section-footer {
    .circle {
      right: 2%;
    }
  }
}

@media (min-width: 1600px) {
  .products_section-footer {
    .circle {
      right: 10%;
    }
  }
}
