.section_carousel {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
  padding-left: 1rem;
  padding-right: 1rem;

  &-item {
    display: flex;
    justify-content: center;
    height: 18rem;

    span {
      position: absolute;
      z-index: 100;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-white-0;
      padding-top: 1rem;
    }
  }

  img {
    width: 16rem;
    height: 16rem;
    border-radius: 32px 8px 32px 8px;
    position: relative;
    filter: drop-shadow(0px 2px 7px #00000020);
  }

  &-shadow {
    width: 16rem;
    height: 16rem;
    border-radius: 32px 8px 32px 8px;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      #33333380,
      #28282860,
      #1d1d1d20,
      #12121200,
      #00000000
    );
  }

  // hidden scroll bar
  &::-webkit-scrollbar {
    display: none;
  }
}
