.shipping_section {
  &-hero {
    @include hero-father;
  }

  &-img {
    @include hero-img;
    background-image: url("./assets/img/hero-shipping.svg");
  }

  &-title {
    @include hero-title;
  }

  .shipping_content {
    margin: 0rem 0.3rem;
    display: flex;
    flex-direction: column;

    &-title {
      padding-bottom: 2rem;
      font-weight: 500;
      font-size: 1.1rem;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 1.1rem;
    }

    &-description {
      padding-bottom: 1rem;
      font-weight: 400;
      font-size: 1rem;
    }

    &-link {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      color: #2f80ed;
    }
  }
}

.shipping-footer {
  @include circle-father;
  top: -5rem;
  margin-bottom: -18rem;
  height: 300px;

  .circle {
    @include circle;
  }

  .circle::before {
    @include circle-img;
    background-image: url("./assets/PNG/foot/shipping.png");
    right: -70px;
    bottom: -110px;
    width: 160%;
    height: 160%;
  }
}

@media (min-width: 768px) {
  .shipping_section {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 0.1fr;
      grid-template-areas:
        "hero hero"
        "deco cont"
        "doubts doubts";
    }
     &-background {
      @include background;
    }
    &-hero {
      grid-area: hero;
    }

    &-title {
      border-bottom: 1px solid $color-black-100;
      width: 100%;
    }

    &-content {
      margin: 0rem 0rem;
      grid-area: cont;
      margin-top: -14rem;
    }

    &-doubts {
      grid-area: doubts;
      margin-top: -10%;
    }
  }

  .shipping-footer {
    top: -10rem;
    .circle {
      right: 8%;
    }
  }
}

@media (min-width: 992px) {
  .shipping-footer {
    .circle {
      right: 20%;
    }
  }
}

@media (min-width: 1200px) {
  .shipping_section {
    &-grid {
      grid-template-rows: 1.7fr 0.5fr 0.1fr;
    }

    &-content {
      margin-top: -26rem;
    }

    &-background {
      @include background;
    }

    &-background::before {
      @include background-icon;
    }

    .shipping_decoration {
      @include deco;

      &-img {
        background-image: url("./assets/img/deco-shipping.svg");
      }

      &-img::before {
        rotate: (-29deg);
        right: 260px;
        bottom: 115px;
      }

      &-img::after {
        display: none;
      }

      &-rectangletop {
        right: 125px;
        bottom: 170px;
      }

      &-rectanglebot {
        right: 230px;
        bottom: 80px;
      }
    }
  }
  .shipping-footer {
    .circle {
      right: 22%;
    }
  }
}

@media (min-width: 1400px) {
  .shipping-footer {
    .circle {
      right: 24%;
    }
  }
}

@media (min-width: 1600px) {
  .shipping-footer {
    .circle {
      right: 26%;
    }
  }
}
