.suscribe-container {
  text-align: center;
  width: 94%;
  margin: 4rem 3% 0rem 3%;
  color: #5f6f52;
  background-color: #eee7df;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    width: 70%;
    margin-bottom: 2rem;
  }
  strong {
    // margin-bottom:1rem;
    color: $color-secondary-100;
  }
  .suscribe-form {
    width: 80%;
    .suscribe-button {
      width: 70%;
    }
  }
}

.suscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .form-email {
    border: 1px solid $color-grey-0;
    border-radius: 8px;
    resize: none;
    padding: 0.5rem;
    width: 70%;
  }

  .form-email:focus {
    outline: none;
    border: 1px solid $color-principal-100;
  }

  .suscribe-button {
    background-color: $color-principal-200;
    color: $color-white-0;
    font-weight: 400;
    font-size: 16px;
    padding: 0.4rem 2rem;
    border: 0px solid $color-principal-200;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 6px $color-principal-100;
  }
}
.suscribe-button:hover {
  background-color: $color-principal-300 !important;
}
.suscribe-button:focus {
  color: $color-white-0;
  background-color: $color-principal-400;
}

.suscribe-button:active {
  color: $color-white-0;
  background-color: $color-principal-400;
}

input::placeholder,
textarea::placeholder {
  color: $color-grey-100;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .suscribe-container {
    p {
      width: 50%;
    }
    h5 {
      width: 40%;
    }
  }
}
