.suscribe-container {
  text-align: center;
  width: 94%;
  margin: 4rem 3% 0rem 3%;
  color: #5f6f52;
  background-color: #eee7df;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    width: 70%;
    margin-bottom: 2rem;
  }
  strong {
    // margin-bottom:1rem;
    color: $color-secondary-100;
  }
  .suscribe-form {
    width: 80%;
    .suscribe-button {
      width: 70%;
    }
  }
}

.suscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .form-email {
    border: 1px solid $color-grey-0;
    border-radius: 8px;
    resize: none;
    padding: 0.5rem;
    width: 100%;
  }
  .form-email:focus {
    outline: none;
    border: 1px solid $color-principal-100;
  }

  .suscribe-button {
    background-color: $color-principal-200;
    color: $color-white-0;
    font-weight: 400;
    font-size: 16px;
    padding: 0.4rem 2rem;
    border: 1px solid $color-principal-200;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 6px $color-principal-100;
  }
}

input::placeholder,
textarea::placeholder {
  color: $color-grey-100;
}
@media (min-width: 768px) {
  .suscribe-container {
    p{
      width: 60%;
    }
    h5 {
      width: 50%;
    }
  }
}

