$color-principal-100: #a9b388;

$color-secundario-green: #5f6f52;
$color-green-light: #F9F5F2;
$color-principal-200: #5f6f52;

$color-secondary-100: #b99470;
$color-secondary-200: #c4661f;
$color-secondary-300: #c4661f;
$color-tertiary-orange: #b99470;

$color-white-0: #ffffff;
$color-white-100: #f6f6f6;
$color-white-200: #fefae0;
$color-white-300: #f9ebc7;

$color-black-100: #474747;
$color-black-200: #333333;

$color-cream-100: #F2EDE7;

$color-gray-100: #BDBDBD;

