$color-secundario-green: #5f6f52;
$color-green-light: #f9f5f2;
$color-green-500: #22a95c;
$color-green-300: #3FD881;
$color-green-200: #1D8348;

$color-principal-100: #a9b388;
$color-principal-200: #5f6f52;
$color-principal-300: #8FA27E;
$color-principal-400: #3C4733;

$color-secondary-100: #b99470;
$color-secondary-200: #c4661f;
$color-secondary-300: #c4661f;
$color-secondary-400: #eee7df;
$color-tertiary-orange: #b99470;

$color-white-0: #ffffff;
$color-white-100: #f6f6f6;
$color-white-200: #fefae0;
$color-white-300: #f9ebc7;
$color-white-400: #f2f2f2;

$color-black-100: #474747;
$color-black-200: #333333;

$color-grey-0: #bdbdbd;
$color-grey-100: #828282;

$color-cream-100: #f2ede7;
$color-cream-200: #eee7df;

$color-gray-100: #bdbdbd;

$color-hero-shadow: #5f6f5230;
