.info-icons-container {
  margin-top: 2px solid red;
  width: 100%;
  padding: 1px 3rem;
}

.info-icons  {
  display: flex;
  padding: 0px;
  /* background-color: blue; */
  justify-content: space-between;

}

.info-icons li{
  color:white;
  /* display: flex; */
    width:60px;
    height:60px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    list-style:none;
    padding-top:10px;
    text-align:center;
    font-size: 1.5rem;
  }

  .info-icons li i {
    width: 40px;
    height: 40px;
  }

/* Section Group del Home*/

.section-group section {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  text-align: center;
  /* background-color: rgba(0,0,0,0.8); */
  filter:brightness(0.5);
  background-image: url(../assets/img/difu.png);
  background-size: 100%;
  
}

.section-group h2 {
  background-color: rgb(91, 91, 91);
  /* filter:invert(100%); */
color: white!important;
  padding: 10px;
  font-size: 30px;
}
/* .section-group img {
  width: 100%;
  height: 100%;
} */

