h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

#navbar-home {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10000;
  color: white;
  transition: 0.4s ease-in;
}
#navbar-home .container {
  padding: 0;
  display: flex;
  justify-content: center;
}
#navbar-home .navbar-toggler {
  border: none;
}
#navbar-home .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
#navbar-home .navbar-toggler-icon {
  width: 1.5rem;
  background-image: url("./assets/icon/navbarToggle.svg");
}
#navbar-home .navbar-collapse {
  padding: 2rem 1rem 1rem 1rem;
  background-color: whitesmoke;
}
#navbar-home .navbar-brand {
  display: none;
}
#navbar-home .dropdown-menu {
  background-color: whitesmoke;
  border: none;
}
#navbar-home .dropdown-item {
  color: rgba(0, 0, 0, 0.5019607843);
}

#navbar {
  background-color: #a9b388;
  width: 100%;
  padding: 1;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.4s ease-in;
}
#navbar .container .menu-toggle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#navbar .navbar-toggler {
  border: none;
}
#navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
#navbar .navbar-toggler-icon {
  width: 1.5rem;
  background-image: url("./assets/icon/navbarToggle.svg");
}
#navbar .navbar-collapse {
  padding: 2rem 0 1rem 0;
  background-color: #a9b388;
}
#navbar .navbar-brand {
  background-image: url("./assets/icon/logo-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 2rem;
}
#navbar .nav-link {
  color: white;
}
#navbar .dropdown-menu {
  background-color: #a9b388;
  border: none;
  color: white;
}
#navbar .dropdown-item {
  color: white;
}

.site-footer {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #474747;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
  text-decoration: none;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.info-icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.products h1 {
  font-size: 1rem;
  font-weight: 400;
}
.products b {
  font-weight: 500;
}

.showpath {
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.about_container .h2, i {
  background-color: #5F6F52;
  display: inline-block;
  position: relative;
  left: 10%;
  top: 10%;
  margin: 5px;
  font-size: 34px;
  font-weight: bold;
}

.about_container > header {
  width: 100%;
  height: 550px;
  background-image: url(https://images.unsplash.com/photo-1631914289393-d529f81138a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.waves > svg {
  width: 100%;
  display: inline-block;
  height: auto;
  transform: rotateY(180deg);
}

.section1, .section3 {
  height: 18rem;
  top: -4.5rem;
  position: relative;
  width: 100%;
}

.section1 > p, .section3 > p {
  left: 1.2;
  padding: 2rem;
  font-size: 16px;
  text-align: left;
  position: relative;
  top: -4rem;
}

.section1 > h3, .section3 > h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 11rem;
  top: -16%;
  left: 10%;
}

.section2 {
  background-color: #5f6f52;
  width: 100%;
  height: 32rem;
  color: white;
}

.section2 > p {
  padding: 2rem;
  font-size: 16px;
  text-align: left;
  position: relative;
  top: 1rem;
}

.section2 > h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 11rem;
  top: 2rem;
  left: 10%;
}

.section4 {
  text-align: center;
  width: 100%;
  color: #b99470;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.faq-title {
  color: #5f6f52;
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 100%;
  left: 5%;
}

.faq-container {
  border-radius: 2rem;
  background-color: #F9F5F2;
  padding: 2rem;
}

.faq-subtitle {
  font-size: 16px;
  color: #5f6f52;
}

.faq-header {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.faq-body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.doubts-content {
  background-color: #ffffff;
  padding: 1rem;
}
.doubts-content h2 {
  color: #b99470;
}
.doubts-content span {
  color: #474747;
}
.doubts-content_social_media img {
  background-color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 7px rgba(128, 128, 128, 0.6470588235);
}

.faq-title {
  color: #5f6f52;
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 100%;
  left: 5%;
}

.faq-container {
  border-radius: 2rem;
  background-color: #F9F5F2;
  padding: 2rem;
}

.faq-subtitle {
  font-size: 16px;
  color: #5f6f52;
}

.faq-header {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.faq-body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.doubts-content {
  background-color: #ffffff;
  padding: 1rem;
}
.doubts-content h2 {
  color: #b99470;
}
.doubts-content span {
  color: #474747;
}
.doubts-content_social_media img {
  background-color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 7px rgba(128, 128, 128, 0.6470588235);
}

.circle {
  position: absolute;
  background-image: url("./assets/background/circle.svg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 10rem;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
