p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 84px;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.body1 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.body2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.body3 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.body4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

#navbar-home {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10000;
  color: white;
  transition: 0.4s ease-in;
}
#navbar-home .container {
  padding: 0;
  display: flex;
  justify-content: center;
}
#navbar-home .navbar-toggler {
  border: none;
}
#navbar-home .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
#navbar-home .navbar-toggler-icon {
  width: 1.5rem;
  background-image: url("./assets/icon/navbarToggle.svg");
}
#navbar-home .navbar-collapse {
  padding: 2rem 1rem 1rem 1rem;
  background-color: whitesmoke;
}
#navbar-home .navbar-brand {
  display: none;
}
#navbar-home .dropdown-menu {
  background-color: whitesmoke;
  border: none;
}
#navbar-home .dropdown-item {
  color: rgba(0, 0, 0, 0.5019607843);
}

#navbar {
  background-color: #a9b388;
  width: 100%;
  padding: 1;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.4s ease-in;
}
#navbar .container .menu-toggle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#navbar .navbar-toggler {
  border: none;
}
#navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
#navbar .navbar-toggler-icon {
  width: 1.5rem;
  background-image: url("./assets/icon/navbarToggle.svg");
}
#navbar .navbar-collapse {
  padding: 2rem 0 1rem 0;
  background-color: #a9b388;
}
#navbar .navbar-brand {
  background-image: url("./assets/icon/logo-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 2rem;
}
#navbar .nav-link {
  color: white;
}
#navbar .dropdown-menu {
  background-color: #a9b388;
  border: none;
  color: white;
}
#navbar .dropdown-item {
  color: white;
}

.site-footer {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 5rem;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #474747;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
  text-decoration: none;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.info-icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.products h1 {
  font-size: 1rem;
  font-weight: 400;
}
.products b {
  font-weight: 500;
}

.payment-img {
  background-color: #F2EDE7;
  width: 230px;
  height: 312px;
  position: relative;
  z-index: 2;
  margin: 1rem;
}

.payment-rectangule {
  background-color: white;
  z-index: 3;
  position: absolute;
  width: 215px;
  height: 100px;
  border-radius: 30px 5px 5px 5px;
  bottom: 52%;
  right: 0;
}

.col-right > .body2 {
  color: #5f6f52;
  padding: 1rem;
}

.body2-title {
  font-weight: bold;
}

.payment-rectangule > h5 {
  font-weight: bold;
  margin: 10px 25px;
  color: #5f6f52;
}

.payment-container {
  margin-bottom: 8rem;
}

.sub-col-container {
  padding: 1.2rem;
}

.sub-col-header {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.circle-container {
  right: -18%;
  position: absolute;
  display: block;
  width: 180px;
}

.bg-circle-payment {
  top: -2rem;
  position: absolute;
  z-index: 2;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #a9b388;
}

.circle-payment-img {
  position: absolute;
  z-index: 3;
}

@media (min-width: 767px) {
  .background-left {
    text-align: center;
    border-radius: 0px 0px 80px 0px;
    padding-bottom: 2rem;
    margin-right: 1.5rem;
  }
  .payment-img {
    width: 297px;
    height: 421px;
  }
  .payment-rectangule {
    width: 350px;
    height: auto;
    padding-bottom: 1rem;
    bottom: 40%;
    right: 42%;
  }
  .col-right {
    margin-top: 15rem;
  }
  .sub-col-container {
    margin-right: 6rem;
  }
  .sub-col-header {
    justify-content: left;
  }
  .paymenticon {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
  .circle-container {
    right: 18%;
  }
  .bg-circle-payment {
    top: -4rem;
  }
  .circle-payment-img {
    top: -2rem;
  }
}
.showpath {
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.about_container .h2, i {
  background-color: #5F6F52;
  display: inline-block;
  position: relative;
  left: 10%;
  top: 10%;
  margin: 5px;
  font-size: 34px;
  font-weight: bold;
}

.about_container > header {
  width: 100%;
  height: 550px;
  background-image: url(https://images.unsplash.com/photo-1631914289393-d529f81138a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.waves > svg {
  width: 100%;
  display: inline-block;
  height: auto;
  transform: rotateY(180deg);
}

.section1, .section3 {
  height: 18rem;
  top: -4.5rem;
  position: relative;
  width: 100%;
}

.section1 > p, .section3 > p {
  left: 1.2;
  padding: 2rem;
  font-size: 16px;
  text-align: left;
  position: relative;
  top: -4rem;
}

.section1 > h3, .section3 > h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 11rem;
  top: -16%;
  left: 10%;
}

.section2 {
  background-color: #5f6f52;
  width: 100%;
  height: 32rem;
  color: white;
}

.section2 > p {
  padding: 2rem;
  font-size: 16px;
  text-align: left;
  position: relative;
  top: 1rem;
}

.section2 > h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 11rem;
  top: 2rem;
  left: 10%;
}

.section4 {
  text-align: center;
  width: 100%;
  color: #b99470;
}

.accordion-item {
  border: 1px solid #BDBDBD;
  margin-bottom: 1rem;
}

.accordion-header {
  border-top: 1px solid #BDBDBD;
}

.accordion-button:not(.collapsed) {
  color: #333333;
  background-color: white;
}

.doubts {
  width: 100%;
  height: 40vh;
}

.row-top {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.row-top h5 {
  color: #b99470;
  width: 50%;
}

.row-bottom {
  text-align: center;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
}

.background-doubts {
  margin: 1rem;
  border-radius: 40px 10px 10px 10px;
  background-color: #F2EDE7;
}

.social-doubts > img {
  margin: 0rem 0.5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1);
}

@media (min-width: 767px) {
  .doubts {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
  }
  .row-top > h5 {
    width: 30%;
    text-align: center;
  }
  .row-bottom {
    padding: 1rem 1rem;
  }
  .row-bottom > p {
    padding-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  .social-doubts > img {
    margin: 0rem 1rem;
  }
}
.accordion-item {
  border: 1px solid #BDBDBD;
  margin-bottom: 1rem;
}

.accordion-header {
  border-top: 1px solid #BDBDBD;
}

.accordion-button:not(.collapsed) {
  color: #333333;
  background-color: white;
}

.doubts {
  width: 100%;
  height: 40vh;
}

.row-top {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.row-top h5 {
  color: #b99470;
  width: 50%;
}

.row-bottom {
  text-align: center;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
}

.background-doubts {
  margin: 1rem;
  border-radius: 40px 10px 10px 10px;
  background-color: #F2EDE7;
}

.social-doubts > img {
  margin: 0rem 0.5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1);
}

@media (min-width: 767px) {
  .doubts {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
  }
  .row-top > h5 {
    width: 30%;
    text-align: center;
  }
  .row-bottom {
    padding: 1rem 1rem;
  }
  .row-bottom > p {
    padding-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  .social-doubts > img {
    margin: 0rem 1rem;
  }
}
.circle {
  position: absolute;
  background-image: url("./assets/background/circle.svg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 10rem;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
