p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 84px;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.body1 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.body2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.body3 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.body4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.header_gradient {
  position: relative;
}
.header_gradient-background {
  position: absolute;
  background: linear-gradient(180deg, #a9b388 26.35%, #7f8c54 100%);
  height: 14rem;
  width: 100%;
  border-radius: 0px 0px 62px 0px;
}

@media (min-width: 768px) {
  .header_gradient-background {
    display: none;
  }
}
#navbar {
  background-color: #a9b388;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.4s ease-in;
}
#navbar .container .menu-toggle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#navbar .navbar-toggler {
  border: none;
}
#navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
#navbar .navbar-toggler-icon {
  width: 1.5rem;
  background-image: url("./assets/icon/navbarToggle.svg");
}
#navbar .navbar-brand {
  background-image: url("./assets/icon/logo-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 2rem;
}

#offcanvasNavbar-expand-md {
  margin-top: 3.4rem;
  width: 70%;
  background-color: #ffffff;
}

#basic-nav-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  background-color: #ffffff;
  border: none;
}
.dropdown-item {
  color: #474747;
  font-weight: 300;
}

.offcanvas-body {
  padding-top: 0;
}
.offcanvas-body .nav-link {
  border-bottom: thin solid #bdbdbd;
  font-weight: 300;
}

@media (min-width: 768px) {
  #navbar {
    background: linear-gradient(180deg, #a9b388 26.35%, #7f8c54 100%);
    height: 9rem;
    border-radius: 0px 0px 62px 0px;
  }
  #navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #navbar .container .menu-toggle {
    display: flex;
    justify-content: center;
  }
  #navbar #offcanvasNavbar-expand-md {
    margin-top: 0;
  }
  .offcanvas-body {
    padding-top: 0;
    width: 100%;
  }
  .offcanvas-body .nav-link {
    border-bottom: none;
    font-weight: 300;
    color: #ffffff;
  }
}
.site-footer {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 3rem 1rem 0rem 1rem;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 5rem;
}
.site-footer p {
  margin: 0.4rem;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #474747;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
  text-decoration: none;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  display: flex;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.carousel-inner {
  height: 30rem;
  padding-top: 1rem;
}

.CarouselPhoto {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.ControlledCarousel {
  z-index: 1;
}

.carousel-caption {
  top: 18%;
  color: #5f6f52;
  z-index: 2;
  display: inline-block;
  bottom: auto;
  width: 30%;
}

.btn-catalogo {
  display: flex;
  text-align: center;
  margin: 0 auto;
  color: #22a95c;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: #22a95c 0.5px solid;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 0px rgba(34, 169, 93, 0.3058823529);
}
.btn-catalogo svg {
  width: auto;
  stroke: #22a95c !important;
}
.btn-catalogo .body4 {
  margin-bottom: 1px;
  font-weight: bold;
  padding: 10px;
}

.btn-catalogo:hover {
  border: #22a95c 3px solid;
}

.carousel-indicators button {
  background-color: #bdbdbd !important;
  border: none !important;
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
}

.carousel-indicators .active {
  background-color: #c4661f !important;
}

@media (min-width: 767px) {
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
}
.CarouselPhoto {
  display: block;
  width: 75%;
}

.carousel {
  height: 72vh !important;
  /* margin-bottom: -1rem !important; */
}

.carousel-indicators button {
  background-color: rgb(255, 255, 255) !important;
  border: 3px solid black !important;
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
}

.see-more {
  color: white;
  width: 8rem;
  height: 2.5rem;
  background-color: #5F6F52;
  border-radius: 5%;
  border: hidden;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.home .wpp-button {
  display: none;
}
.home section {
  align-items: center;
  margin-bottom: 1rem;
}
.home b {
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}

.info-icons-container {
  width: 100%;
  padding: 1rem;
}

.info-icons {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: space-around;
}
.info-icons li {
  display: flex;
  width: 95px;
  height: 95px;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.info-icons a {
  text-decoration: none;
  text-align: center;
  color: #474747;
}

.home_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -7rem;
  margin-bottom: -19rem;
  height: 300px;
}
.home_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.home_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circle_home.svg");
  right: -5px;
  bottom: -20px;
  height: 223px;
}

.products b {
  font-weight: 500;
}
.products_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.products_list h1 {
  z-index: 1;
  font-size: 2.5rem;
  color: #f2f2f2;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

.products_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -7rem;
  margin-bottom: -18rem;
  height: 300px;
}
.products_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.products_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circle_products.svg");
  right: -45px;
  bottom: -15px;
  height: 236px;
}

@media (min-width: 768px) {
  .products_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .products_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .products_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .products_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.payment_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.payment_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/paymentimg1.svg");
}
.payment_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}

.payment_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -5rem;
  margin-bottom: -14rem;
}
.payment_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.payment_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circlepaymentimg.svg");
  right: 5px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .payment_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 0.5fr;
    grid-template-areas: "hero hero" "x cont" "doubts doubts";
  }
  .payment_section-hero {
    grid-area: hero;
    padding-bottom: 0rem;
  }
  .payment_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .payment_section-content {
    margin-top: -35rem;
    grid-area: cont;
  }
  .payment_section-doubts {
    grid-area: doubts;
  }
  .payment_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .payment_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .payment_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .payment_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.about-title h5 {
  background-color: #5f6f52;
  display: inline-block;
  position: relative;
  left: 1rem;
  top: -11rem;
  margin: 3px;
}

.section-left {
  padding-bottom: 22rem;
  text-align: center;
}
.section-left .img-about {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  border: solid white 5px;
  border-radius: 40px 15px 15px 15px;
  left: 17%;
  width: 19rem;
  width: 15rem;
}
.section-left .about-title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 10%;
}
.section-left .about-title h5 {
  padding: 0.2rem 0.5rem;
}

.section-right {
  margin-top: 2rem;
  padding: 1.5rem;
}
.section-right h5 {
  width: 50%;
  margin-bottom: 1rem;
}

.section-Left-2 {
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  width: 90%;
  margin: 5%;
  background-color: #eee7df;
  border-radius: 40px 15px 40px 15px;
}
.section-Left-2 h5 {
  color: #474747;
  margin-bottom: 1.5rem;
}

.section-right-2 {
  text-align: center;
}
.section-right-2 .imgabout2 {
  position: relative;
  top: -6rem;
  width: 19rem;
  height: 19rem;
}

.section4 {
  text-align: center;
  width: 90%;
  margin: 2rem 5%;
  color: #5f6f52;
  background-color: #eee7df;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 4rem 1rem;
}
.section4-social {
  background-color: #ffffff;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.about_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -7rem;
  margin-bottom: -16rem;
}
.about_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.about_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circle_about.svg");
  right: 0px;
  bottom: -30px;
  height: 250px;
}

.row-3 {
  flex-direction: column-reverse;
  top: -2rem;
  position: relative;
}
.row-3 .section-right-3 {
  padding: 0rem 2rem;
}
.row-3 .section-right-3 h5 {
  width: 60%;
  margin-bottom: 1.5rem;
  color: #5f6f52;
}
.row-3 .background-rectangule {
  background-color: #eee7df;
}
.row-3 .section-Left-3 {
  text-align: center;
}
.row-3 img {
  width: 20rem;
}

.faq_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.faq_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/faqimg.svg");
}
.faq_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}
.faq_section-accordion {
  padding: 1.5rem;
}
.faq_section-accordion .accordion-item {
  border: 1px solid #bdbdbd;
  margin-bottom: 1rem;
}
.faq_section-accordion .accordion-header {
  border-top: 1px solid #bdbdbd;
}
.faq_section-accordion .accordion-button:not(.collapsed) {
  color: #333333;
  background-color: white;
  border-radius: 0.5rem;
}

.faq_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -5rem;
  margin-bottom: -14rem;
}
.faq_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.faq_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circlepaymentimg2.svg");
  right: 10px;
  bottom: -25px;
}

@media (min-width: 768px) {
  .faq_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.6fr;
    grid-template-areas: "hero hero" "x accordion" "doubts doubts";
  }
  .faq_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .faq_section-hero {
    grid-area: hero;
  }
  .faq_section-accordion {
    grid-area: accordion;
    margin-top: -14rem;
  }
  .faq_section-doubts {
    grid-area: doubts;
  }
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.shipping_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.shipping_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/paymentimg3.svg");
}
.shipping_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}

.shipping-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -10rem;
  margin-bottom: -19rem;
}
.shipping-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.shipping-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circlepaymentimg3.svg");
  right: -5px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .shipping_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.8fr;
    grid-template-areas: "hero hero" "x cont" "doubts doubts";
  }
  .shipping_section-hero {
    grid-area: hero;
  }
  .shipping_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .shipping_section-content {
    grid-area: cont;
    margin-top: -13rem;
  }
  .shipping_section-doubts {
    grid-area: doubts;
  }
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.doubts {
  width: 100%;
  height: 40vh;
}

.row-top {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.row-top h5 {
  color: #b99470;
  width: 100%;
}

.row-bottom {
  text-align: center;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
}

.background-doubts {
  margin: 1rem;
  border-radius: 40px 10px 10px 10px;
  background-color: #f2ede7;
}

.social-doubts > img {
  margin: 0rem 0.5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1);
}

@media (min-width: 767px) {
  .doubts {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
  }
  .row-top > h5 {
    width: 50%;
    text-align: center;
  }
  .row-bottom {
    padding: 1rem 1rem;
  }
  .row-bottom > p {
    padding-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  .social-doubts > img {
    margin: 0rem 1rem;
  }
}
.faq_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.faq_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/faqimg.svg");
}
.faq_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}
.faq_section-accordion {
  padding: 1.5rem;
}
.faq_section-accordion .accordion-item {
  border: 1px solid #bdbdbd;
  margin-bottom: 1rem;
}
.faq_section-accordion .accordion-header {
  border-top: 1px solid #bdbdbd;
}
.faq_section-accordion .accordion-button:not(.collapsed) {
  color: #333333;
  background-color: white;
  border-radius: 0.5rem;
}

.faq_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -5rem;
  margin-bottom: -14rem;
}
.faq_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.faq_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circlepaymentimg2.svg");
  right: 10px;
  bottom: -25px;
}

@media (min-width: 768px) {
  .faq_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.6fr;
    grid-template-areas: "hero hero" "x accordion" "doubts doubts";
  }
  .faq_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .faq_section-hero {
    grid-area: hero;
  }
  .faq_section-accordion {
    grid-area: accordion;
    margin-top: -14rem;
  }
  .faq_section-doubts {
    grid-area: doubts;
  }
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .faq_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.shipping_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.shipping_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/paymentimg3.svg");
}
.shipping_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}

.shipping-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -10rem;
  margin-bottom: -19rem;
}
.shipping-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.shipping-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/circlepaymentimg3.svg");
  right: -5px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .shipping_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.8fr;
    grid-template-areas: "hero hero" "x cont" "doubts doubts";
  }
  .shipping_section-hero {
    grid-area: hero;
  }
  .shipping_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .shipping_section-content {
    grid-area: cont;
    margin-top: -13rem;
  }
  .shipping_section-doubts {
    grid-area: doubts;
  }
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .shipping-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.doubts {
  width: 100%;
  height: 40vh;
}

.row-top {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.row-top h5 {
  color: #b99470;
  width: 100%;
}

.row-bottom {
  text-align: center;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
}

.background-doubts {
  margin: 1rem;
  border-radius: 40px 10px 10px 10px;
  background-color: #f2ede7;
}

.social-doubts > img {
  margin: 0rem 0.5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1);
}

@media (min-width: 767px) {
  .doubts {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
  }
  .row-top > h5 {
    width: 50%;
    text-align: center;
  }
  .row-bottom {
    padding: 1rem 1rem;
  }
  .row-bottom > p {
    padding-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  .social-doubts > img {
    margin: 0rem 1rem;
  }
}
.circle {
  position: absolute;
  background-image: url("./assets/background/circle.svg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 10rem;
  width: 100%;
  height: 100%;
}

.section_carousel {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section_carousel-item {
  display: flex;
  justify-content: center;
  height: 18rem;
}
.section_carousel-item span {
  position: absolute;
  z-index: 100;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  padding-top: 1rem;
}
.section_carousel img {
  width: 16rem;
  height: 16rem;
  border-radius: 32px 8px 32px 8px;
  position: relative;
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.1254901961));
}
.section_carousel-shadow {
  width: 16rem;
  height: 16rem;
  border-radius: 32px 8px 32px 8px;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.5019607843), rgba(40, 40, 40, 0.3764705882), rgba(29, 29, 29, 0.1254901961), rgba(18, 18, 18, 0), rgba(0, 0, 0, 0));
}
.section_carousel::-webkit-scrollbar {
  display: none;
}

.contact_form {
  padding-top: 2rem;
}
.contact_form h2 {
  font-size: 2rem;
  color: #5f6f52;
}
.contact_form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact_form .form-name, .contact_form .form-message, .contact_form .form-email {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  resize: none;
  padding: 0.5rem;
  width: 100%;
}
.contact_form .form-name:focus, .contact_form .form-message:focus, .contact_form .form-email:focus {
  outline: none;
  border: 1px solid #a9b388;
}
.contact_form .form-button {
  background-color: #5f6f52;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  border: 1px solid #5f6f52;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 6px #a9b388;
}
.contact_form input::placeholder,
.contact_form textarea::placeholder {
  color: #828282;
}

.card_carousel {
  width: 85%;
  border-radius: 32px 8px;
  border: none;
}
.card_carousel .carousel-indicators {
  bottom: -10%;
}
.card_carousel img {
  border-radius: 32px 8px 0px 0px;
}
.card_carousel .carousel {
  height: 60vh !important;
}
.card_carousel .carousel-inner {
  padding-top: 0;
}
.card_carousel button {
  background-color: #5f6f52;
  border: none;
  color: #ffffff;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 7px #a9b388;
}
.card_carousel .carousel-control-prev-icon {
  background-image: url("./assets/icon/prev-icon.svg") !important;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}
.card_carousel .carousel-control-next-icon {
  background-image: url("./assets/icon/next-icon.svg") !important;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}
.card_carousel .card-body {
  padding: 0;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}
.card_carousel .card-body ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}

.contact_section-hero {
  position: relative;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
}
.contact_section-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 115px 115px 0 0;
  width: 14.3rem;
  height: 19.5rem;
  top: 4rem;
  filter: drop-shadow(2px 2px 11px rgba(95, 111, 82, 0.1882352941));
  background-image: url("./assets/img/contact-hero.svg");
}
.contact_section-title {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #5f6f52;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem 0 0 0;
  top: 240px;
}
.contact_section-redes {
  padding-bottom: 2rem;
  border-bottom: 1px solid #bdbdbd;
  color: #333333;
}
.contact_section-description {
  padding-top: 2rem;
}
.contact_section-description h6 {
  font-size: 1.2rem;
  font-weight: 400;
}
.contact_section-description span {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 2rem;
}

.contact_section-footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 200px;
  top: -5rem;
  margin-bottom: -14rem;
}
.contact_section-footer .circle {
  background-color: #a9b388;
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  right: -2.5rem;
}
.contact_section-footer .circle::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/vela.svg");
  right: -5px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .contact_section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.8fr;
    grid-template-areas: "hero hero" "redes form" "x form" "sus sus";
  }
  .contact_section-hero {
    grid-area: hero;
    padding-bottom: 0rem;
  }
  .contact_section-title {
    top: 100px;
    padding: 0.5rem;
    border-bottom: 1px solid #474747;
    width: 100%;
    left: 150px;
  }
  .contact_section-redes {
    border: none;
    grid-area: redes;
  }
  .contact_section-description {
    margin-top: -13rem;
    grid-area: form;
  }
  .contact_section-suscribe {
    grid-area: sus;
  }
  .contact_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 8%;
    top: 0rem;
  }
}
@media (min-width: 992px) {
  .contact_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 14%;
  }
}
@media (min-width: 1200px) {
  .contact_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 16%;
  }
}
@media (min-width: 1400px) {
  .contact_section-footer .circle {
    background-color: #a9b388;
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    right: -2.5rem;
    right: 20%;
  }
}
.wpp-button {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 100;
}

.suscribe-container {
  text-align: center;
  width: 94%;
  margin: 4rem 3% 0rem 3%;
  color: #5f6f52;
  background-color: #EEE7DF;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 3rem 1rem;
}
.suscribe-container h5 {
  margin-bottom: 1.5rem;
}
.suscribe-container b {
  margin-bottom: 1rem;
  color: #b99470;
}

.suscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.suscribe-form .form-email {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  resize: none;
  padding: 0.5rem;
  width: 100%;
}
.suscribe-form .form-email:focus {
  outline: none;
  border: 1px solid #a9b388;
}
.suscribe-form .suscribe-button {
  background-color: #5f6f52;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 0.4rem 2rem;
  border: 1px solid #5f6f52;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 6px #a9b388;
}

input::placeholder,
textarea::placeholder {
  color: #828282;
}

#modal {
  margin: 5rem 1rem;
}
#modal .img-logo-mobile2 {
  display: none;
}
#modal .modal-content {
  border-radius: 32px 8px 32px 8px;
}
#modal .modal-col-left {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal .modal-col-left .img-logo-mobile {
  position: absolute;
  padding: 5px;
  top: 0px;
  width: 120px;
}
#modal .modal-col-left img {
  width: 210px;
}
#modal .modal-col-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal .modal-col-right .img-logo {
  margin: 0 auto;
  padding-top: 20px;
  width: 150px;
}
#modal .modal-col-right p {
  padding: 0rem 1.5rem;
  text-align: center;
}
#modal .modal-col-right p b {
  background-color: #5f6f52;
}
#modal .suscribe-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
  width: 80%;
}
#modal .suscribe-form-modal .form-email {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  resize: none;
  padding: 0.5rem;
  width: 100%;
}
#modal .suscribe-form-modal .form-email:focus {
  outline: none;
  border: 1px solid #a9b388;
}
#modal .suscribe-form-modal input {
  width: 100%;
}
#modal .suscribe-form-modal .suscribe-button-modal {
  background-color: #5f6f52;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 0.4rem 2rem;
  border: 1px solid #5f6f52;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 6px #a9b388;
}

@media (min-width: 767px) {
  #modal {
    margin: 0 auto;
    margin-top: 8rem;
  }
  #modal .img-logo-mobile {
    display: none;
  }
  #modal .img-logo-mobile2 {
    display: initial;
  }
  #modal .modal-content {
    width: 600px;
    top: 4rem;
  }
}
.modal-col-left {
  justify-content: center;
}
.modal-col-left img {
  padding-left: 1rem;
  width: 195px;
}

.modal-col-right {
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
